{% extends 'blog/base.html' %}   
{% block content %}
<a href="{% url 'create-blog' %}"><button type="button" style="margin-bottom:10px; background-color: white;color: black; border: 1px solid black" class=" btns btn btn-secondary">New Blog</button></a>
   {% for post in posts  %}
    <article class="media content-section">
    <div class="media-body">
      <div class="icon article-metadata" style="display:flex;justify-content:space-between">
        <div class="">
            <a class="mr-2 text-decoration-none" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <div class="icons" style="display:flex;gap:20px">
           <a href="{% url 'delete-blog' post.id %}"> <i class="bi bi-trash"></i></a>
            <a href="{% url 'edit-blog' post.id %}"><i class="bi bi-pencil"></i></a>
        </div>
      </div>
      <h2><a class="article-title text-decoration-none text-dark" href="{% url 'single-blog' post.id%}">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.content|truncatewords:20 }}</p>
    </div>
  </article>
  
   {% endfor %}
{% endblock content %}

